/***************************************
$Revision:: 143                        $: Revision of last commit
$LastChangedBy::                       $: Author of last commit
$LastChangedDate:: 2011-10-27 10:04:52#$: Date of last commit
***************************************/
/* 
charityhound/css/logs.css
tjs 101119
file version 1.00 
release version 1.00
*/
.ui-dialog { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 11px/*{fsDefault}*/; background-color:#cccccc;}
.ui-dialog-titlebar { border: 1px solid #aaaaaa; background: #cccccc; background-position: 50% 50%; background-attachment: scroll; opacity: 1; height 50px; color: #222222; font-weight: bold; }
.ui-dialog-title { float: left; margin: .1em .1em .2em .5em; background-color:#cccccc; }
.ui-dialog-titlebar-close { float: right; padding: 1px; height: 18px; margin: .1em .5em .2em .1em; }

/* tjs 111027 */
.highlightName {color: red; }

#customerDialog hr {margin: 0; padding: 0;}

.ui-dialog-content { clear: both; margin: 1em 1em 1em 2em; background-color:#cccccc; }

#charityList { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 12px/*{fsDefault}*/;}
/*
#optionList { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 12px/*{fsDefault}*/;}
*/
